/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    /* 15:54 */
    font-family: "Gill Sans", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #00193b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    /* background-image: url("../../images/skyline.jpeg"); */
    background-color: #1f3c62;
    display: flex;
    justify-content: center;
}
  

  nav a {
    width:80px;
    text-align:center;
    text-decoration: none;
    background-color: #f4f4f400;
    color: #ffffffa3;
    padding: 10px;
    margin: 6px 10px;
    border-radius:3px;
    transition: background-color 0.5s ease;
}

nav a:hover {
    background-color: #ffffffdb;
}

main {
    padding: 20px 0;
}

section {
    margin:30px;
    margin-left:70px;
    margin-bottom: 20px;
}

footer {
    background-color: #00193b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        font-size: 1.5em;
    }
}

/* NEW SECTION THAT MAY CONFLICT WITH SECTION ABOVE */

.underline-hover {
      position: relative;
      text-decoration: none;
      color: #fff;
      transition: color 0.3s;
      transition: background-color 0.5s ease;

    }

.underline-hover::after {
  content: '';
  position: absolute;
  width: 10px; /* Width of the underline */
  height: 2px; /* Height/thickness of the underline */
  background-color: #d1e0f2d9; /* Color of the underline */
  bottom: 5px; /* Distance below the text */
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.underline-hover:hover {
  color: #000000; /* Color of the text on hover */
}

.underline-hover:hover::after {
  width: 90%; /* Expand the underline to 100% on hover */
  background-color: #000000a1; /* Color of the underline */
}